<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link
      crossorigin="anonymous"
      href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script
      crossorigin="anonymous"
      src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"
    ></script>
    <title>GripGuru</title>
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <main><%- include('../partials/flash') %><%- body %></main>
    <%- include('../partials/footer') %>
    <script language="javascript" src="/js/bootstrap.js"></script>
    <script src="/javascripts/validateForms.js"></script>
  </body>
</html>
